h1 {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

a {
	font-family: "Raleway";
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
  margin: 0 20px;
}

h2 {
	font-family: "Raleway";
	color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;	
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

body {
    text-align: center;
    margin: 0;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px;
}